/*
Login and signup CS styling
*/

#main {
    display:flex;
    flex-direction: column;
    /*background-color: red;*/
}

#signtitle {
    background-color: green;

}

#entry {
    display:flex;
    flex-direction: column;
}
