/*
common CSS file 
*/
body {
    background-color:rgb(241, 241, 250); /* whole page bg color*/
    margin: 0px;
  }
/*
Menu CSS styling
*/
h1 {
    color:rgb(51, 28, 185);
}

#menu-placeholder {
    display:flex;
    justify-content: space-between;
 border-bottom: 4px rgb(51, 28, 185) solid;
  width: 100%;
}

#menuTable /*ul*/ {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden; /*Important for the DIV background, investigate*/
  }
  
  #menuTable  li {
    float:left;
    background-color:rgb(158, 149, 209); /*deselected menu*/
    margin-right: 10px;
  }

  #menuTable li a {
      display:inline-block;
      color : white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

  /*
  Example of CSS selectors in this link:
  https://www2.cs.sfu.ca/CourseCentral/165/common/study-guide/content/css-selectors.html

  */
  #menuTable li:hover:not(.active) {
      background-color:rgb(200, 195, 223); /* menu hover color*/
  }

  #menuTable .active {
  background-color:rgb(51, 28, 185); /*active page menu color*/
  }

  #userLogged{
    align-self: center;
    color:blue;
    font-size: 24px;
  }