/*
common CSS file 
*/
body {
    background-color:rgb(241, 241, 247); /* whole page bg color*/
}
/*
Menu CSS styling
*/
h1 {
    color: red;
}

#menu-placeholder {
 border-bottom: 2px;
  width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden; /*Important for the DIV background, investigate*/
    border-bottom: 4px rgb(51, 28, 185) solid; /* underline menu color*/
  }
  
  li {
    float:left;
    background-color:rgb(158, 149, 209); /*deselected menu*/
    margin-right: 10px;
  }

  li a {
      display:inline-block;
      color : white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

  /*
  Example of CSS selectors in this link:
  https://www2.cs.sfu.ca/CourseCentral/165/common/study-guide/content/css-selectors.html

  */
  li:hover:not(.active) {
      background-color:rgb(200, 195, 223); /* menu hover color*/
  }

  .active {
  background-color:rgb(51, 28, 185); /*active page menu color*/
  }

  /*

  */